.container-wrapper {
    position: fixed;
    top: 0%;
    left: 50%;
    transition: 0.25s all;
    z-index: 999999999;
}
.container {
    position: relative;
    background-color: #fff;
    padding: 2rem 1rem 1rem 1rem;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
    color: #fff;
    background-color: #000;
    cursor: pointer;
}