.container {
    position: relative;
}
.container > input {
    position: relative;
}

.suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 0;
    overflow: hidden;
    border-radius: 0.5rem;
    margin-top: 0.2rem;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 1000;
    transition: all 0.2s;
    overflow: hidden;
}
.suggestions > * {
    border-bottom: 1px solid #000;
}
.suggestions > *:last-child {
    border-bottom: 0;
}
input:focus + .suggestions {
    border: 1px solid #000;
    height: auto;
}